@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-neutral-900;
  font-family: "Poppins", sans-serif;
  padding-bottom: 73px; /* même hauteur que ta barre Total */
  overflow-y: scroll; /* toujours scroll vertical même si peu de contenu */
  @apply font-sans bg-pink-50 text-gray-800 scroll-smooth;
}
html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@keyframes fade {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade {
  animation: fade 1s ease forwards;
}
